
/* Force into light mode */
:root {
  color-scheme: only light !important;
}


/* Firefox */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light;
    }
}

/* Chrome */
@media (forced-colors: active) {
    :root {
        color-scheme: light;
    }
}




/*img.avatar-img {*/
    /*background-color:purple;*/
/*}*/

.description-table table tr td,
.description-table table tr th {
    /*padding: 4px 6px;*/
    /*font-size: 16px;*/
    padding: 2px 6px;
    font-size: 14px;
    background-color: white;
}

.description-table tr,
.description-table td,
.description-table th {
    border: none;
}
