{{define "post"}}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Page title -->
        <title>{{ .Title }}</title>

        <style>
            body {
                margin-top: 12px;
            }
        </style>

    </head>

    <body>

        <div class="container">

            {{ if .Title }}
                <div class="row">
                    <main class="bg-white w-100 cf helvetica dark-gray bg-white pa3 pa4-ns mw8 center">
                        <div class="fl w-100 outline mb4">
                            <div class="pa4 ">
                                <p class="lh-copy mt2 mt3-m mt5-l f6">>
                                    <span class="db-l measure-wide f5">
                                        {{.Description}}
                                    </span>
                                </p>
                                <p>
                                    <span class="db-l measure-wide f5">
                                        {{.Tags}}
                                    </span>
                                </p>
                            </div>
                        </div>
                        {{.ContentHTML}}
                    </main>
                </div>
            {{ end }}

            {{ if .Posts }}
                <div class="row">
                    <div class="card-columns">
                        {{ range .Posts }}
                            <!-- <div class="col-lg-2 col-md-3 col-6"> -->
                                <div class="card mb-3" style="width: 18rem;">
                                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                                      <!-- <img style="background-image:url({{.Image}});" class="db bg-center cover aspect-ratio--object" /> -->
                                    <div class="card-body">
                                        <h5 class="card-title">{{.Title}}</h5>
                                        <!-- <h6 class="card-subtitle mb-2 text-muted">{{.Date}}</h6> -->
                                        <p class="card-text">{{.Description}}</p>
                                        <a href="/blog/{{.Slug}}" class="card-link">Open</a>
                                    </div>
                                    <div class="card-footer">
                                      <small class="text-muted">{{.Date}}</small>
                                    </div>
                                </div>
                            <!-- </div> -->
                        {{ end }}
                    </div>
                </div>
            {{ end }}

        </div>

    </body>

</html>

{{end}}
