{% set title = "Upload File" %}

{% extends "page.html" %}


{% block content %}

        <div class="row">
            <div class="col-4">
                <form method=post enctype=multipart/form-data>
                    <div class="mb-3">
                        <input class="form-control form-control-sm" type=file name=file>
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-primary" type=submit value=Upload>
                    </div>
                </form>
            </div>
            {% include "flash_container.html" %}
        </div>

{% endblock %}